* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
*:focus {
  outline: none !important;
}

/* *{
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  overflow: hidden;
} */

.pages {
  position: relative;
  text-align: center;
  border: 1px solid black;
  background-color: white;
}

.page {
  pointer-events: none;
  border: 1px solid black;
  position: relative;
  justify-content: center;
  background-color: white;
  transform-origin: center;
  backface-visibility: visible;
}

.floor {
  position: absolute;
  box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 1;
  position: fixed;
  pointer-events: none;
  /* justify-content: center; */
  width: 100%;
  height: 100%;
  backface-visibility: visible;
  /* animation: teardown-animation 2.3s forwards;
  transform: cubic-bezier(0.16, 1, 0.3, 1), 1s ease-out forwards;
  transform-origin: top; */
}

.refresh, .imprint{
  position: absolute;
  height: 40px;
  width: 100px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-color: #FFFFFF;
}

.page#left, #right{
  box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

#left:hover {
  transform-origin: top right;
  transform: rotate(-3deg);
}

#right:hover {
  transform-origin: top left;
  transform: rotate(3deg);
}

/* #tearhint {
  animation-name: tearhint-animation;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes tearhint-animation {
  70% {
    transform-origin: top right;
    transform: rotate(0deg);
  }
  85% {
    transform-origin: top right;
    transform: rotate(-2.2deg);
  }
  100% {
    transform-origin: top right;
    transform: rotate(0deg);
  }
} */

/* @keyframes teardown-animation {
  0%    { transform: translate3d(0vw, 0vh, 0px) ;}
  33%   { transform: translate3d(20vw, 30vh, 100px) rotateX(50deg) rotateZ(-20deg);} 
  66%   { transform: translate3d(5vw, 40vh, 75px) rotateX(-50deg) rotateZ(20deg);} 
  100%  { transform: translate3d(20vw, 68vh, 100px) rotateX(70deg) rotateZ(-40deg);;} 
} */

/* very small screen */
@media only screen and (max-width: 600px){
  .pages, .page, .tear, .floor{
    width: 191.3px;
    height: 255.1px;
  }
}

/* Standard Mobile */
@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .pages, .page, .tear, .floor{
    /* 80% in px for browser compatibility*/
    width: 255.1px;
    height: 340.2px;
  }
}

/* Desktop */
@media only screen and (min-width: 1000px) {
  .pages, .page, .tear, .floor{
    width: 287px;
    height: 382.7px;
  }
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;
}