* {
  /* -webkit-tap-highlight-color: none; */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pages {
  position: relative;
  text-align: center;
  background-color: white;
  border: 1px solid black;
  background-image: none;
  width: 100%;
  height: 100%; 
  will-change: transform;
  backface-visibility: visible;
}

.page {
  pointer-events: none;
  position: relative;
  justify-content: center;
  background-color: white;
  width: 100%;
  height: 100%; 
  will-change: transform;
  transition-timing-function: linear;
  /* aspect-ratio: attr(width) / attr(height); */
}

.floor {
  position: absolute;
  box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.5);
  pointer-events: none;
  position: fixed;
  pointer-events: none;
  /* justify-content: center; */
  width: 100%;
  height: 100%;
  backface-visibility: visible;
}

.refresh, .imprint{
  position: absolute;
  height: 40px;
  width: 100px;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-color: #FFFFFF;
  border-width: 4px;
  border-color: whitesmoke;
  z-index: 1;
  outline: black solid 0.5px;
}

/* .page#left, #right{
  box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

#left:hover {
  transform-origin: top right;
  transform: rotate(-3deg);
}

#right:hover {
  transform-origin: top left;
  transform: rotate(3deg);
} */

/* very small screen */
 @media only screen and (max-width: 600px){
  .pages, .page, .tear, .floor{
    width: 100%;
    height: 255.1px;
  }
}

/* Standard Mobile */
    /* 80% in px for browser compatibility*/

@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .pages, .page, .tear, .floor{
    width: 100%;
    height: 340.2px;
  }
} 

/* Desktop */
@media only screen and (min-width: 1000px) {
  .pages, .page, .tear, .floor{
    width: 287px;
    height: 382.7px;
  }
}