*{
  margin:0;
  padding:0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.pages {
  position: relative;
  text-align: center;
  background: #eee;
}

.page {
  position: relative;
  width: 200px;
  height: 200px;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position: center;
  background-color: white;
  transform-origin: center;
  backface-visibility: visible;
}

.tear {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 1
}

.refresh, .imprint{
  position: absolute;
  height: 40px;
  width: 100px;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
