*{
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  overflow: hidden;
}

.pages {
  box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.5);
  position: relative;
  text-align: center;
  border: 1px solid black;
  background-color: white;
}

.page {
  border: 1px solid black;
  position: relative;
  justify-content: center;
  background-color: white;
  transform-origin: center;
  backface-visibility: visible;
}

/* .page:hover {
  transform-origin: 0px 0px;
  transform: rotate(2.2deg);
  transition: all 0.1s ease 0s;
} */


.floor {
  position: absolute;
  box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 1;
  position: fixed;
}

.refresh, .imprint{
  position: absolute;
  height: 40px;
  width: 100px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-color: #FFFFFF;
}

/* very small screen */
@media only screen and (min-width: 1px) and (max-width: 600px){
  .pages, .page, .tear, .floor{
    width: 191.3px;
    height: 255.1px;
  }
}

/* Standard Mobile */
@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .pages, .page, .tear, .floor{
    /* 80% in px for browser compatibility*/
    width: 255.1px;
    height: 340.2px;
  }
}

/* Desktop */
@media only screen and (min-width: 1000px) {
  .pages, .page, .tear, .floor{
    width: 287px;
    height: 382.7px;
  }
}