*{
  margin:0;
  padding:0;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.calendar {
  position: relative;
  width: 152px;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.calendar::before, .calendar::after {
  content: "";
  position: absolute;
  top: -28px;
  left: 40px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #ddd;
  z-index: 3;
}
.calendar::after {
  left: initial;
  right: 40px;
}

.pages {
  position: relative;
  text-align: center;
  background: #eee;
  box-shadow: 0 10px 0 0 #a5a4a4;
}
.pages::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 45px;
  background: rgb(187, 186, 186);
  bottom: 100%;
  left: 0;
  z-index: 2;
}

.page {
  position: relative;
  padding: 20px 30px 15px;
  background: #eee;
}
.page::before {
  content: "";
  position: absolute;
  bottom: 99%;
  left: 0;
  display: block;
  background-position: left top;
  background-repeat: repeat-x;
  background-size: 10px 18px;
  height: 10px;
  width: 100%;
}

.tear {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform-origin: top left;
  box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.5);
  pointer-events: none;
  -webkit-animation: tear-animation 0.8s linear forwards;
          animation: tear-animation 0.8s linear forwards;
}

@-webkit-keyframes tear-animation {
  0% {
    transform: rotate(0deg);
    top: 0;
    opacity: 1;
  }
  20% {
    transform: rotate(9deg);
    top: 0;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    top: 200px;
    opacity: 0;
  }
}

@keyframes tear-animation {
  0% {
    transform: rotate(0deg);
    top: 0;
    opacity: 1;
  }
  20% {
    transform: rotate(9deg);
    top: 0;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    top: 200px;
    opacity: 0;
  }
}

.refresh, .imprint{
  position: absolute;
  width:100px;
  height:40px;
}