*{
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  overflow: hidden;
  z-index: -1;
}

button:hover {
  box-shadow: 1px 1px 4px black;
}

.refresh, .imprint{
  position: absolute;
  height: 40px;
  width: 100px;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-color: #FFFFFF;
}
